.container
{
    margin-left: 270px;
    height: 100%;
    overflow: scroll;
}

.navbar-fixed-left
{
    width: 270px;
    float: left;
    position: fixed;
    height: 100%;
    background-color: #FFA749;
    color: white;
    border-right: solid 2px #000000;
    border-radius: 0;
}

ul
{
    list-style-type: none;
    padding: 0px;
}

.profile_label
{
    position: absolute;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    margin-left: 0;
    width: 267px;
}

.profile_label:hover
{
    background-color: #d18204;
    border-radius: 2px;
}

.restaurant
{
    height: 220px;
    border-bottom: 2px dotted #515863;
}

.your_score
{
    float: right;
    position: absolute;
    right: 40px;
    font-size: 20px;
    z-index: -1;
    padding-top: 15px;
}

.name
{
    padding: 15px;
    z-index: -1;
    font-size: 45px;
}

a:hover {
    text-decoration: none;
    color: white;
    cursor: pointer;
}