<!--
FoodGroups
Creators: Sam Lurye and Elizabeth Yeoh-Wang
Date: 12/16

home.html is the layout page extended by the web app pages
-->

{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block toptext %}
    Restaurants Near You
{% endblock %}

{% block sidebar %}
<a href="{{ url_for('survey', scope='global') }}" class="profile_label" style="top: 120px;"><li>> Preferences</li></a>
<a href="{{ url_for('createGroup') }}" class="profile_label" style="top: 150px;"><li>> Create Group</li></a>
<a href="{{ url_for('joinGroup') }}" class="profile_label" style="top: 180px;"><li>> Join Group</li></a>
<a href="{{ url_for('myGroups') }}" class="profile_label" style="top: 210px;"><li>> My Groups</li></a>
<a href="{{ url_for('pendingOutings') }}" class="profile_label" style="top: 240px;"><li>> Pending Outings</li></a>
<a href="{{ url_for('logout') }}" class="profile_label" style="bottom: 20px"><li>Log Out</li></a>
{% endblock %}

{% block main %}
    <ul id="restaurant-list">
    </ul>
    <script>
        // Get search results from Yelp and format them (if groupname and outing are passed through Jinja, then it uses those parameters as arguments to the "search" route call)
        /*global $*/
        $.getJSON(Flask.url_for("search"{% if groupname and outing %}, {"groupname" : "{{ groupname }}", "outing" : "{{ outing }}"}{% endif %})).done(function(rankings) {
            for (var i = 0; i < 12; i++) {
                $('#restaurant-list').append('<li class="restaurant"><span class="name">' + 
                        rankings[i][0] +
                        '</span><span class="your_score">Score: ' +
                        rankings[i][1] +
                        ' </span></li>');     
            }    
        })
    </script>
{% endblock %}