<!--
FoodGroups
Creators: Sam Lurye and Elizabeth Yeoh-Wang
Date: 12/16

layout.html is the layout page extended by login.html and home.html that has the navigation bar and general layout
-->

<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="{{ url_for('static', filename='helpers.js') }}"></script>

        <title>FoodGroups: {% block title %}{% endblock %}</title>

        {{ JSGlue.include() }}

    </head>

    <body>
        <!--Navigation Bar-->
        <div class="navbar navbar-fixed-left">
            <ul>
                <a href="{{ url_for('home') }}"><li style="color: white; font-size: 40px; padding: 20px">FoodGroups</li></a>
                {% block sidebar %}{% endblock %}
            </ul>
        </div>
        <div class="container">
            <div class="row" style="background-color: #F8F8F8; position: fixed; width: 100%">
                <h3 style="padding: 20px; padding-top: 10px; font-size: 25px;">{% block toptext %}
                {% endblock %}</h3>
            </div>
            <div style="margin-top: 100px;">
                {% block main %}{% endblock %}
            </div>
        </div>
    </body>

</html>