<!--
FoodGroups
Creators: Sam Lurye and Elizabeth Yeoh-Wang
Date: 12/16

survey.html is the page where the users can enter their cuisine preferences and dietary needs into a form; where "scope" is set to "global" (as opposed to a specific group), users can specify their location
-->
{% extends "home.html" %}

{% block title %}
Survey
{% endblock %}

{% block toptext %}
Enter Your Preferences
{% endblock %}

{% block main %}
<form class="preference" action= "{{ url_for('survey', scope=scope) }}" method="POST">
	<div>
		<fieldset>
			<h4>Cuisine<br></h4><h5>(-5 = loathe, 0 = neutral, 5 = love)</h5>
			<table>
				{% for cuisine in cuisines %}
					<div class='form-group' style='width: 200px'>
						<tr>
							<td style='padding: 15px'>{{ cuisine }}</td>
							<td>
								<input step='1' class='food-type' type='number' min='-5' max='5' value=
								{% if cuisine in prefs_set %}
									{{ pref_dict[cuisine] }}
								{% else %}
									'0'
								{% endif %}
								 name='{{ cuisine }}' id='{{ cuisine }}'> 
							</td>
						</tr>
					</div>
				{% endfor %}
			</table>

			<h4>Dietary Restrictions</h4>
			<table>
				{% for rest in diet_rest %}
					<div class='form-group' style='width: 200px'>
						<tr>
							<td style='padding: 15px; padding-right: 40px'>{{ rest }}</td>
							<td><input type='checkbox' name='{{ rest }}' 
							{% if rest in prefs_set %}
								checked
							{% endif %} 
							></td>
						</tr>
					</div>
				{% endfor %}
			</table>
			{% if scope=="global" %}
			<h4>Location</h4>
			<div class='form-group' style='width: 200px'>
				<input name="location" class="form-control">
			</div>
			{% endif %}
		</fieldset>
	</div>
	<h3><button class="btn btn-default" type="submit">Submit</button></h3>
</form>

<script>resetFields();</script>
{% endblock %}