{% extends "layout.html" %}

{% block title %}
Survey Submission
{% endblock %}

{% block Fire %}
<!--<script src="helpers.js" type="text/javascript"></script>-->


<script>

function submitSurvey(pref1) {

	var config = {
                apiKey: "AIzaSyBxrm_AcfuQCMVWCFwut4ujjKIEqoPzXwQ",
                authDomain: "foodgroups-c09d1.firebaseapp.com",
                databaseURL: "https://foodgroups-c09d1.firebaseio.com",
                storageBucket: "",
                messagingSenderId: "522334661408"
            };
            firebase.initializeApp(config);
            
	var postData {
		pref1: pref1
	};

	var newPostKey = firebase.database().ref().child('posts').push().key

	var updates = {};
	updates['/surveys/' + newPostKey] = postData;
	//updates['/user-posts/' + uid + '/' + newPostKey] = postData;
	console.log("submitted survey to firebase");
	return firebase.database().ref().update(updates);
}
var submit = document.getElementsByTagName('button')[0];
submit.onclick = submitSurvey;

</script>




<script>
function sende(pref1) {
		console.log("hi");
		submitSurvey(pref1);
		location.href = Flask.url_for("home");
	}
sende("hi")
</script>

{% endblock %}

{% block main %}

{% endblock %}